/* Import Fonts */
@font-face {
  font-family: Comfortaa;
  src: url(Assets/Fonts/Comfortaa-VariableFont_wght.ttf);
}

@font-face {
  font-family: PoiretOne;
  src: url(Assets/Fonts/PoiretOne-Regular.ttf);
}
/*  */

/* Global */
body,
html {
  margin: 0;
  overflow-x: hidden;
}

a,
p {
  color: #050315;
  font-family: Comfortaa;
  font-size: 0.83vw;
}
/*  */

/* Main Body */
.main-body {
}

#main-body-background {
  position: absolute;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  filter: blur(0.5px);
}
/*  */

/* Navigation Bar */
.topnav {
  padding: 20px 100px 20px;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.topnav-logoname {
  display: flex;
  gap: 10px;
  align-items: center;
}

#logo-image {
  height: 100%;
}

#logo-text {
  font-size: 2rem;
  font-family: Comfortaa;
}

.topnav-centerbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.topnav-centerbuttons a {
  font-size: 1.66vw;
  border-radius: 60px;
  padding: 15px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.topnav-centerbuttons a:hover {
  background-color: #fcce96;
  color: #fbfbfe;
}

.topnav-centerbuttons-light {
  color: #fbfbfe;
}

.topnav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*  */

/* Showcase */
.showcase {
  height: 100%;
}

#showcase-food {
  position: absolute;
  width: 50vw;
  top: 10%;
  left: 50%;
}

#countertoptexture {
  position: absolute;
  border-radius: 50%;
  width: 80vw;
  height: 80vw;
  z-index: -1;
  top: -20%;
  left: -25%;
  filter: invert(100%);
}

.showcase-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 36vw;
  height: auto;
  padding-top: 30px;
  padding-left: 150px;
}

.showcase-text h1 {
  font-family: PoiretOne;
  color: #050315;
  font-size: 4.15vw;
  margin: 0;
}

.showcase-text p {
  font-size: 1.245vw;
  color: #050315;
}

.showcase-button {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  font-size: 2vw;
  color: #050315;
  background-color: #fcce96;
  transition: filter 0.3s ease;
  padding: 30px;
  border-radius: 60px;
  text-decoration: none;
}

.showcase-button:hover {
  filter: invert(100%);
}

#showcase-button-arrow {
  width: 50px;
  margin: 0;
  height: 100%;
}
/*  */

/* Region Menu */
.region-menu {
  position: absolute;
  top: 100vh;
  background-color: red;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
/*  */
